In [15]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pickle

In [9]:
X_test = pd.read_csv('X_test.csv')
X_test = X_test.drop(X_test.columns[0], axis=1)
X_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.7,0.56,0.08,2.50,0.114,14.0,46.0,0.9971,3.24,0.66,9.6
1,7.8,0.50,0.17,1.60,0.082,21.0,102.0,0.9960,3.39,0.48,9.5
2,10.7,0.67,0.22,2.70,0.107,17.0,34.0,1.0004,3.28,0.98,9.9
3,8.5,0.46,0.31,2.25,0.078,32.0,58.0,0.9980,3.33,0.54,9.8
4,6.7,0.46,0.24,1.70,0.077,18.0,34.0,0.9948,3.39,0.60,10.6

In [11]:
y_test = pd.read_csv('y_test.csv', header=None)
y_test = y_test.drop(y_test.columns[0], axis=1)
y_test.head()

   1
0  6
1  5
2  6
3  5
4  6

In [12]:
len(X_test)

320

In [13]:
len(y_test)

320

In [17]:
model = pickle.load(open("model.pkl","rb"))

In [19]:
y_pred = model.predict(X_test)

In [20]:
mean_squared_error(y_test, y_pred)

0.39002514396395394

In [49]:
instance1 = X_test.iloc[[0]]
instance1_pred = model.predict(instance1)
instance1_pred

array([5.27928659])

In [50]:
y_test.iloc[[0]]

   1
0  6